@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

body {
  background: url("/assets/img/map3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  height: 100%;
}
@font-face {
  font-family: 'gotham-book';
  src: url('assets/fonts/gotham/Gotham-Book.otf') format('opentype');
}

$custom-typography: mat-typography-config(
  $font-family: "gotham-book, sans-serif"
);

@include mat-base-typography($custom-typography);

@include mat-checkbox-typography($custom-typography);

@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

.orange-icon {
  color: orangered;
}

